<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>574967542863-rrua1i81enuj1g7m6cv1g4vhc353q70v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574967542863-rrua1i81enuj1g7m6cv1g4vhc353q70v</string>
	<key>API_KEY</key>
	<string>AIzaSyDAiZQ8i5Dh0iiVsITNT4TovpEb74Jdi4U</string>
	<key>GCM_SENDER_ID</key>
	<string>574967542863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.evanfrawley.GetRect</string>
	<key>PROJECT_ID</key>
	<string>fp-38030</string>
	<key>STORAGE_BUCKET</key>
	<string>fp-38030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:574967542863:ios:191c3c2a6f887b9f</string>
	<key>DATABASE_URL</key>
	<string>https://fp-38030.firebaseio.com</string>
</dict>
</plist>